# Decision Tree Project - Customer Churn

In [1]:
import numpy as np
import pandas as pd

In [2]:
churn_data = pd.read_csv("Customer-Churn.csv")

In [3]:
churn_data.head()

,customerID,gender,SeniorCitizen,Partner,Dependents,tenure,PhoneService,MultipleLines,InternetService,OnlineSecurity,...,DeviceProtection,TechSupport,StreamingTV,StreamingMovies,Contract,PaperlessBilling,PaymentMethod,MonthlyCharges,TotalCharges,Churn
0,7590-VHVEG,Female,0.0,Yes,No,1.0,No,No phone service,DSL,No,...,No,No,No,No,Month-to-month,Yes,Electronic check,29.85,29.85,No
1,5575-GNVDE,Male,0.0,No,No,34.0,Yes,No,DSL,Yes,...,Yes,No,No,No,One year,No,Mailed check,56.95,1889.50,No
2,3668-QPYBK,Male,0.0,No,No,2.0,Yes,No,DSL,Yes,...,No,No,No,No,Month-to-month,Yes,Mailed check,53.85,108.15,Yes
3,7795-CFOCW,Male,0.0,No,No,45.0,No,No phone service,DSL,Yes,...,Yes,Yes,No,No,One year,No,Bank transfer (automatic),42.30,1840.75,No
4,9237-HQITU,Female,0.0,No,No,2.0,Yes,No,Fiber optic,No,...,No,No,No,No,Month-to-month,Yes,Electronic check,70.70,151.65,Yes

In [4]:
churn_data.shape

(7043, 21)

In [5]:
churn_data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 7043 entries, 0 to 7042
Data columns (total 21 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   customerID        7032 non-null   object
 1   gender            7032 non-null   object
 2   SeniorCitizen     7032 non-null   float64
 3   Partner           7032 non-null   object
 4   Dependents        7032 non-null   object
 5   tenure            7032 non-null   float64
 6   PhoneService      7032 non-null   object
 7   MultipleLines     7032 non-null   object
 8   InternetService   7032 non-null   object
 9   OnlineSecurity    7032 non-null   object
 10  OnlineBackup      7032 non-null   object
 11  DeviceProtection  7032 non-null   object
 12  TechSupport       7032 non-null   object
 13  StreamingTV       7032 non-null   object
 14  StreamingMovies   7032 non-null   object
 15  Contract          7032 non-null   object
 16  PaperlessBilling  7032 non-null   object
 17  PaymentMethod     7032 non-null   object
 18  MonthlyCharges    7032 non-null   float64
 19  TotalCharges      7032 non-null   float64
 20  Churn             7032 non-null   object
dtypes: float64(4), object(17)
memory usage: 687.9+ KB

In [6]:
churn_data["TotalCharges"].value_counts()

20.20      11
19.75       9
20.05       8
19.90       8
19.65       8
           ..
6849.40     1
692.35      1
130.15      1
3211.90     1
6844.50     1
Name: TotalCharges, Length: 6530, dtype: int64

In [7]:
a = " "
type(a)

str

In [8]:
churn_data[churn_data["TotalCharges"] == ""]

Empty DataFrame
Columns: [customerID, gender, SeniorCitizen, Partner, Dependents, tenure, PhoneService, MultipleLines, InternetService, OnlineSecurity, OnlineBackup, DeviceProtection, TechSupport, StreamingTV, StreamingMovies, Contract, PaperlessBilling, PaymentMethod, MonthlyCharges, TotalCharges, Churn]
Index: []

[0 rows x 21 columns]

In [14]:
churn_data["TotalCharges" ] = pd.to_numeric(churn_data["TotalCharges"], errors = "coerce")

In [15]:
churn_data

,customerID,gender,SeniorCitizen,Partner,Dependents,tenure,PhoneService,MultipleLines,InternetService,OnlineSecurity,...,DeviceProtection,TechSupport,StreamingTV,StreamingMovies,Contract,PaperlessBilling,PaymentMethod,MonthlyCharges,TotalCharges,Churn
0,7590-VHVEG,Female,0.0,Yes,No,1.0,No,No phone service,DSL,No,...,No,No,No,No,Month-to-month,Yes,Electronic check,29.85,29.85,No
1,5575-GNVDE,Male,0.0,No,No,34.0,Yes,No,DSL,Yes,...,Yes,No,No,No,One year,No,Mailed check,56.95,1889.50,No
2,3668-QPYBK,Male,0.0,No,No,2.0,Yes,No,DSL,Yes,...,No,No,No,No,Month-to-month,Yes,Mailed check,53.85,108.15,Yes
3,7795-CFOCW,Male,0.0,No,No,45.0,No,No phone service,DSL,Yes,...,Yes,Yes,No,No,One year,No,Bank transfer (automatic),42.30,1840.75,No
4,9237-HQITU,Female,0.0,No,No,2.0,Yes,No,Fiber optic,No,...,No,No,No,No,Month-to-month,Yes,Electronic check,70.70,151.65,Yes
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
7038,6840-RESVB,Male,0.0,Yes,Yes,24.0,Yes,Yes,DSL,Yes,...,Yes,Yes,Yes,Yes,One year,Yes,Mailed check,84.80,1990.50,No
7039,2234-XADUH,Female,0.0,Yes,Yes,72.0,Yes,Yes,Fiber optic,No,...,Yes,No,Yes,Yes,One year,Yes,Credit card (automatic),103.20,7362.90,No
7040,4801-JZAZL,Female,0.0,Yes,Yes,11.0,No,No phone service,DSL,Yes,...,No,No,No,No,Month-to-month,Yes,Electronic check,29.60,346.45,No
7041,8361-LTMKD,Male,1.0,Yes,No,4.0,Yes,Yes,Fiber optic,No,...,No,No,No,No,Month-to-month,Yes,Mailed check,74.40,306.60,Yes
7042,3186-AJIEK,Male,0.0,No,No,66.0,Yes,No,Fiber optic,Yes,...,Yes,Yes,Yes,Yes,Two year,Yes,Bank transfer (automatic),105.65,6844.50,No

In [17]:
churn_data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 7043 entries, 0 to 7042
Data columns (total 21 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   customerID        7032 non-null   object
 1   gender            7032 non-null   object
 2   SeniorCitizen     7032 non-null   float64
 3   Partner           7032 non-null   object
 4   Dependents        7032 non-null   object
 5   tenure            7032 non-null   float64
 6   PhoneService      7032 non-null   object
 7   MultipleLines     7032 non-null   object
 8   InternetService   7032 non-null   object
 9   OnlineSecurity    7032 non-null   object
 10  OnlineBackup      7032 non-null   object
 11  DeviceProtection  7032 non-null   object
 12  TechSupport       7032 non-null   object
 13  StreamingTV       7032 non-null   object
 14  StreamingMovies   7032 non-null   object
 15  Contract          7032 non-null   object
 16  PaperlessBilling  7032 non-null   object
 17  PaymentMethod     7032 non-null   object
 18  MonthlyCharges    7032 non-null   float64
 19  TotalCharges      7032 non-null   float64
 20  Churn             7032 non-null   object
dtypes: float64(4), object(17)
memory usage: 687.9+ KB

In [18]:
churn_data.isnull().sum()

customerID          11
gender              11
SeniorCitizen       11
Partner             11
Dependents          11
tenure              11
PhoneService        11
MultipleLines       11
InternetService     11
OnlineSecurity      11
OnlineBackup        11
DeviceProtection    11
TechSupport         11
StreamingTV         11
StreamingMovies     11
Contract            11
PaperlessBilling    11
PaymentMethod       11
MonthlyCharges      11
TotalCharges        11
Churn               11
dtype: int64

In [19]:
churn_data.dropna(inplace=True)

In [22]:
churn_data.shape

(7032, 21)

In [23]:
churn_data.columns

Index(['customerID', 'gender', 'SeniorCitizen', 'Partner', 'Dependents',
       'tenure', 'PhoneService', 'MultipleLines', 'InternetService',
       'OnlineSecurity', 'OnlineBackup', 'DeviceProtection', 'TechSupport',
       'StreamingTV', 'StreamingMovies', 'Contract', 'PaperlessBilling',
       'PaymentMethod', 'MonthlyCharges', 'TotalCharges', 'Churn'],
      dtype='object')

In [32]:
col_list = []

for i in churn_data.columns:
  if((churn_data[i].dtype == "object") & (i != "Churn")):
    col_list.append(i)

col_list

['customerID',
 'gender',
 'Partner',
 'Dependents',
 'PhoneService',
 'MultipleLines',
 'InternetService',
 'OnlineSecurity',
 'OnlineBackup',
 'DeviceProtection',
 'TechSupport',
 'StreamingTV',
 'StreamingMovies',
 'Contract',
 'PaperlessBilling',
 'PaymentMethod']

In [48]:
from sklearn.preprocessing import LabelEncoder
le = LabelEncoder()

In [49]:
for i in col_list:
  churn_data[i] = le.fit_transform(churn_data[i])

In [51]:
churn_data

,customerID,gender,SeniorCitizen,Partner,Dependents,tenure,PhoneService,MultipleLines,InternetService,OnlineSecurity,...,DeviceProtection,TechSupport,StreamingTV,StreamingMovies,Contract,PaperlessBilling,PaymentMethod,MonthlyCharges,TotalCharges,Churn
0,5365,0,0.0,1,0,1.0,0,1,0,0,...,0,0,0,0,0,1,2,29.85,29.85,No
1,3953,1,0.0,0,0,34.0,1,0,0,2,...,2,0,0,0,1,0,3,56.95,1889.50,No
2,2558,1,0.0,0,0,2.0,1,0,0,2,...,0,0,0,0,0,1,3,53.85,108.15,Yes
3,5524,1,0.0,0,0,45.0,0,1,0,2,...,2,2,0,0,1,0,0,42.30,1840.75,No
4,6500,0,0.0,0,0,2.0,1,0,1,0,...,0,0,0,0,0,1,2,70.70,151.65,Yes
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
7038,4843,1,0.0,1,1,24.0,1,2,0,2,...,2,2,2,2,1,1,3,84.80,1990.50,No
7039,1524,0,0.0,1,1,72.0,1,2,1,0,...,2,0,2,2,1,1,1,103.20,7362.90,No
7040,3358,0,0.0,1,1,11.0,0,1,0,2,...,0,0,0,0,0,1,2,29.60,346.45,No
7041,5923,1,1.0,1,0,4.0,1,2,1,0,...,0,0,0,0,0,1,3,74.40,306.60,Yes
7042,2221,1,0.0,0,0,66.0,1,0,1,2,...,2,2,2,2,2,1,0,105.65,6844.50,No

In [52]:
churn_data.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 7032 entries, 0 to 7042
Data columns (total 21 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   customerID        7032 non-null   int32
 1   gender            7032 non-null   int32
 2   SeniorCitizen     7032 non-null   float64
 3   Partner           7032 non-null   int32
 4   Dependents        7032 non-null   int32
 5   tenure            7032 non-null   float64
 6   PhoneService      7032 non-null   int32
 7   MultipleLines     7032 non-null   int32
 8   InternetService   7032 non-null   int32
 9   OnlineSecurity    7032 non-null   int32
 10  OnlineBackup      7032 non-null   int32
 11  DeviceProtection  7032 non-null   int32
 12  TechSupport       7032 non-null   int32
 13  StreamingTV       7032 non-null   int32
 14  StreamingMovies   7032 non-null   int32
 15  Contract          7032 non-null   int32
 16  PaperlessBilling  7032 non-null   int32
 17  PaymentMethod     7032 non-null   int32
 18  MonthlyCharges    7032 non-null   float64
 19  TotalCharges      7032 non-null   float64
 20  Churn             7032 non-null   object
dtypes: float64(4), int32(16), object(1)
memory usage: 741.7+ KB

In [ ]:
# Supervised ---  classification data
# Divide our independent and dependent column into X and y
# train test split
# create our model/ and train it
# predictions ---- .predict()
# performance of model -- classification ---- accuracy, confusion matrix, classification report
#            regression----- r2 score, adj r2 score, rmse, mse

In [53]:
X = churn_data.iloc[:,:-1]
y = churn_data["Churn"]

In [55]:
X

,customerID,gender,SeniorCitizen,Partner,Dependents,tenure,PhoneService,MultipleLines,InternetService,OnlineSecurity,OnlineBackup,DeviceProtection,TechSupport,StreamingTV,StreamingMovies,Contract,PaperlessBilling,PaymentMethod,MonthlyCharges,TotalCharges
0,5365,0,0.0,1,0,1.0,0,1,0,0,2,0,0,0,0,0,1,2,29.85,29.85
1,3953,1,0.0,0,0,34.0,1,0,0,2,0,2,0,0,0,1,0,3,56.95,1889.50
2,2558,1,0.0,0,0,2.0,1,0,0,2,2,0,0,0,0,0,1,3,53.85,108.15
3,5524,1,0.0,0,0,45.0,0,1,0,2,0,2,2,0,0,1,0,0,42.30,1840.75
4,6500,0,0.0,0,0,2.0,1,0,1,0,0,0,0,0,0,0,1,2,70.70,151.65
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
7038,4843,1,0.0,1,1,24.0,1,2,0,2,0,2,2,2,2,1,1,3,84.80,1990.50
7039,1524,0,0.0,1,1,72.0,1,2,1,0,2,2,0,2,2,1,1,1,103.20,7362.90
7040,3358,0,0.0,1,1,11.0,0,1,0,2,0,0,0,0,0,0,1,2,29.60,346.45
7041,5923,1,1.0,1,0,4.0,1,2,1,0,0,0,0,0,0,0,1,3,74.40,306.60
7042,2221,1,0.0,0,0,66.0,1,0,1,2,0,2,2,2,2,2,1,0,105.65,6844.50

In [56]:
y

0        No
1        No
2       Yes
3        No
4       Yes
       ...
7038     No
7039     No
7040     No
7041    Yes
7042     No
Name: Churn, Length: 7032, dtype: object

In [57]:
from sklearn.model_selection import train_test_split

In [61]:
X_train , X_test , y_train , y_test = train_test_split( X , y, test_size =0.2 , random_state=50)

In [62]:
from sklearn.ensemble import RandomForestClassifier

In [76]:
from sklearn.ensemble import RandomForestClassifier

classifier1 = RandomForestClassifier(n_estimators = 100)  #number of decision trees = 100
classifier1.fit(X_train,y_train)

RandomForestClassifier()

In [77]:
y_pred = classifier1.predict(X_test)
y_pred

array(['No', 'No', 'Yes', ..., 'No', 'No', 'No'], dtype=object)

In [78]:
from sklearn.metrics import accuracy_score

In [81]:
accuracy_score(y_pred,y_test) * 100

80.59701492537313

In [88]:
n = [100 ,200 ,300 ,400 ,500 ,600 ,700 ,800 ,900, 1000]

accuracy = []

for i in n:
  model = RandomForestClassifier(n_estimators = i)
  model.fit(X_train, y_train)
  pred = model.predict(X_test)
  a =accuracy_score(y_test , pred) * 100
  accuracy.append(a)

In [89]:
accuracy

[80.66808813077469,
 80.81023454157783,
 79.81520966595593,
 80.59701492537313,
 80.31272210376687,
 80.45486851457001,
 80.17057569296375,
 80.59701492537313,
 80.17057569296375,
 80.17057569296375]

In [90]:
d = {"Number of trees": n,
     "Accuracy" : accuracy}
df = pd.DataFrame(d)
df

   Number of trees   Accuracy
0              100  80.668088
1              200  80.810235
2              300  79.815210
3              400  80.597015
4              500  80.312722
5              600  80.454869
6              700  80.170576
7              800  80.597015
8              900  80.170576
9             1000  80.170576